<div>
  <h1 mat-dialog-title>Add a new category</h1>
  <div class="form-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>Color</mat-label>
      <input
        matInput
        [(ngModel)]="device.color"
        required
        maxlength="16"
        pattern="[a-zA-Z]+"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Part No</mat-label>
      <input
        matInput
        [(ngModel)]="device.partNumber"
        required
        type="number"
        min="0"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select a category</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{
          category.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="addDevice()"
      [disabled]="!submitEnabled()"
    >
      Add
    </button>
  </div>
</div>
